{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/aa/adm_careerexp_approve_reject/">
        {% csrf_token %}
  <table width="50%" border="0">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>&nbsp;{{ i.name }}</td>
    </tr>
    <tr>
      <td>Descrption</td>
      <td>&nbsp;{{ i.desi }}</td>
    </tr>

    <tr>
      <td><br />
        Phone</td>
      <td>{{ i.ph }}&nbsp;</td>
    </tr>
    <tr>
      <td>Email id</td>
      <td>{{ i.email }}&nbsp;</td>
    </tr>
    <tr>
      <td><input type="submit" name="btn" id="button" value="Approve" /></td>
      <td><input type="submit" name="btn" id="button2" value="Reject" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}