{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/aa/sports_update_post/">
      {% csrf_token %}
  <table width="50%" border="0">
    <tr>
      <td width="36%">Name</td>
      <td width="64%">&nbsp;<input type="text"name="sname"id="sname" value="{{ res.name }}" required> </td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text"name="dis"id="des" value="{{ res.description }}" required> &nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Update" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}