{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="74%" border="0">

    <tr>
      <td>Sl no</td>
      <td>Message</td>
      <td>Date</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in res %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>&nbsp;{{ i.msg }}</td>
      <td>{{ i.datee }}</td>
      <td><a href="/aa/noti_update/{{ i.pk }}">Edit</a></td>
      <td><a href="/aa/noti_del/{{ i.pk }}">Delete</a></td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}