{% extends "index_college.html"%}
{% block body %}
     <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

<form id="form2" name="form2" method="post" action="/aa/clg_assign_phycaltrainr/" enctype="multipart/form-data">
     {% csrf_token %}
<table>
  <tr>
      <td>Sports category</td>
      <td><select name="cid" id="ty" required>
     {% for i in res %}
         <option value="{{ i.pk }}">{{ i.name }}</option>
          {% endfor %}
          </select></td>
    </tr>

 <tr>
      <td>Staff</td>
      <td><select name="sid" id="ty2" required>
     {% for i in res2 %}
         <option value="{{ i.pk }}">{{ i.name }}</option>
          {% endfor %}
          </select></td>
    </tr>


  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="button" class="btn" id="button" value="Assign" />
    </td>
  </tr>
</table>
</form>
    </div></body>
{% endblock %}