{% extends "index_college.html"%}
{% block body %}
     <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

<form id="form2" name="form2" method="post" action="/aa/clg_student_edit_post/" enctype="multipart/form-data">
     {% csrf_token %}
<h2 align="center">EDIT STUDENTS</h2>
<table class="table table-bordered"style="width:400px" align="center">
  <tr>
    <td>Student Name</td>
    <td>
      <p>

        <input type="text"class="form-control"name="name" id="name" value="{{ res.name }}" required/>
      </p>
    </td>
  </tr>

     <tr>
    <td>Place</td>
    <td>
      <p>

        <input type="text"class="form-control" name="place" id="place" value="{{ res.place }}" required/>
      </p>
    </td>
  </tr>
    <tr>
        <td>Gender</td>
         <td>
          {% if res.gen == "male" %}

          male<input type="radio" name="gen" id="gen1" value="male" checked="checked"/><br/>


            female<input type="radio" name="gen" id="gen2" value="female" />

        {% else %}

        male<input type="radio" name="gen" id="gen3" value="male"/><br/>

        female<input type="radio" name="gen" id="gen4" value="female" checked="checked"/><br/>
        {% endif %}
        </td>
      </tr>


    <tr>
    <td>House Name</td>
    <td>

      <input type="text"class="form-control" name="house" id="house" value="{{ res.house }}" required/>
    </td>
  </tr>

       <tr>
    <td>post</td>
    <td>
      <input type="text"class="form-control" name="post" id="post" value="{{ res.post }}" required/>
    </td>
  </tr>
     <tr>
    <td>City</td>
    <td>
      <input type="text"class="form-control" name="city" id="city" value="{{ res.city }}" required/>
    </td>
  </tr>

 <tr>
    <td>Email Id</td>
    <td>

      <input type="text"class="form-control" name="email" id="email" value="{{ res.email }}" readonly required/>
    </td>

  </tr>
 <tr>
    <td>Phone</td>
    <td>

      <input type="text"class="form-control" name="phone" id="phone" value="{{ res.phone }}" required/>
    </td>

  </tr><tr>
    <td>Date Of Birth</td>
    <td>

      <input type="date"class="form-control" name="dob" id="dob" value="{{ res.dob }}" required/>
    </td>

  </tr>
    <tr>
    <td>Depatement</td>
    <td>

      <input type="text"class="form-control" name="department" id="department" value="{{ res.department }}" required/>
    </td>

  </tr>
 
  <tr>
      <td>Semester</td>
      <td><select name="ty" id="ty" required>
      <option value="1">1
       </option>
      <option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>

          </select></td>
    </tr>


    <tr>
    <td>Image</td>
    <td>

      <input type="file" name="image" id="image" required/>
    </td>
  </tr>
  <tr>

  

  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="button" class="btn" id="button" value="Update" />
    </td>
  </tr>
</table>
</form>
    </div></body>
{% endblock %}