{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/aa/adm_college_approve_reject/">
        {% csrf_token %}
    <h2 align="center">APPROVE COLLEGE VIEW MORE</h2>
<table class="table table-bordered"style="width: 400px"  align="center">
  <tr>
    <td colspan="2">&nbsp;</td>
    </tr>
  <tr>
    <th>Name</th>
    <td>&nbsp;{{ i.name }}</td>
  </tr>
  <tr>
    <th>Place</th>
    <td>{{ i.place }}&nbsp;</td>
  </tr>
  <tr>
    <th>Post</th>
    <td>{{ i.post }}&nbsp;</td>
  </tr>
  <tr>
    <th>City</th>
    <td>&nbsp;{{ i.city }}</td>
  </tr>
  <tr>
    <th>State</th>
    <td>&nbsp;{{ i.state }}</td>
  </tr>
  <tr>
    <th>Established year</th>
    <td>&nbsp;{{ i.ext_year }}</td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td>{{ i.phone }}&nbsp;</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>&nbsp;{{ i.email }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>&nbsp;{{ i.status }}</td>
  </tr>


  <tr>
    <td><input type="submit" name="btn" id="button" value="Approve" /></td>
    <td><input type="submit" name="btn" id="button2" value="Reject" /></td>
  </tr>
</table>
</form>

</body>
{% endblock %}