{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
 <tr>
    <td colspan="2">Type</td>
    <td colspan="2"><label for="textfield"></label>
      <input type="text" name="ser" id="textfield" /></td>
    <td colspan="2"><input type="submit" name="button" id="button" value="Search" /></td>
    </tr>
<form id="form1" name="form1" method="post" action="/aa/adm_careerexp_view/"><table width="50%" border="0">
    {% csrf_token %}
<h2 align="center">APPROVE OTHER USERS</h2>
<table class="table table-bordered" width="400px"align="center" border="0">

  <tr>
    <th>Sl no</th>
    <th>Company Name</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Email id</th>
    <th>Action</th>
      <th></th>
  </tr>
    {% for i in res %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.cname }}&nbsp;</td>
    <td>{{ i.details }}&nbsp;</td>
    <td>{{ i.ph }}&nbsp;</td>
    <td>&nbsp;{{ i.email }}</td>
    <td><a href="/aa/adm_v_view_more/{{ i.pk }}">View more</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}