{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/aa/sports_add/">
      {% csrf_token %}
    <h2 align="center">EDIT CATEGORY</h2>
 <table class="table table-bordered" width="400px"align="center" border="0">
    <tr>
      <td width="36%">Name</td>
      <td width="64%">&nbsp;<input type="text"name="sname"id="sname"required> </td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text"name="dis"id="des"required> &nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}