{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
        {% csrf_token %}
    <h1 align="center">ADD NOTIFICATION</h1>
  <table class="table table-bordered">
    <tr>
      <th>Message</th>
      <td>
      <input type="text"  class="form-control" name="textfield" id="textfield" required/></td>
    </tr>


    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" class="btn btn-success" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}