{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VIEW STUDENT RECORDS</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/aa/adm_student_view/">
    {% csrf_token %}
<h1 align="center">VIEW STUDENT RECORDS</h1>
<table class="table table-bordered"><tr>
    <td colspan="2">Student name</td>
    <td colspan="3"><label for="textfield"></label>
      <input type="text" name="ser" id="textfield" /></td>
    <td colspan="2"><input type="submit" name="button" id="button" value="Search" /></td>
    </tr></table>
<table class="table table-bordered" >

  <tr>
    <th>Slno</th>
    <th>Name </th>
    <th>Email</th>
    <th>Phone</th>
    <th>Department</th>
    <th>College</th>
      <th>Action</th>
    <th>&nbsp;</th>
  </tr>
    {% for i in res %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.name }}&nbsp;</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>{{ i.phone }}&nbsp;</td>
    <td>&nbsp;{{ i.department }}</td>
    <td>{{ i.COLLEGE.name }}&nbsp;</td>
    <td><a href="/aa/adm_student_view_more/{{ i.pk }}" class="btn btn-primary">participation</a></td>
  </tr>
    {% endfor %}
</table>
</form>

</body>
{% endblock %}