{% extends "index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VIEW NOTIFICATION</title>
</head>

<body>
<form id="form1" name="form1 man" method="post" action="">
<h1 align="center">VIEW NOTIFICATION</h1>
  <table class="table table-bordered" >

    <tr>
      <th>Sl no</th>
      <th>Message</th>
      <th>Date</th>
      <th>Action</th>
      <th>Action</th>
        <th></th>
    </tr>
      {% for i in res %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>&nbsp;{{ i.msg }}</td>
      <td>{{ i.datee }}</td>
      <td><a href="/aa/noti_update/{{ i.pk }}" class="btn btn-success">Edit</a></td>
      <td><a href="/aa/noti_del/{{ i.pk }}"  class="btn btn-danger">Delete</a></td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}